.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.list-group {
  overflow-y: auto;

  .list-group-item {
    background-color: $dark;
    border-color: $dark;
    border-radius: 2px;
    flex-shrink: 0;

    &:first-child, &:last-child {
     border-radius: 2px; }}

  p {
    font-weight: normal;
    color: $primary; }

  .active {
    background-color: $dark;
    border-color: $red; }}

.standard-container {
  font-weight: normal;
  color: $primary;
  padding: 0.75rem 1.25rem;
  background-color: $dark;
  border: 1px solid $dark;
  border-radius: 2px; }

.standard-container.active {
  background-color: $dark;
  border-color: $red; }

.modal-content {
  border-radius: 2px;
  border-color: $red;
  background-color: $dark;

  .modal-footer {
    border-color: $secondary; }

  .modal-header {
    border-color: $secondary;

    .close span {
      color: $primary; }}}
