.navbar {
  text-transform: uppercase;

  .active span {
    color: $red; }

  .nav-link span {
    margin-right: 5px; }

  .navbar-brand {
    font-weight: bold;
    letter-spacing: .2em;
    font-family: 'Orbitron', sans-serif; }}