.card-session {
  background-color: $dark;

  .card-header {
    border: none;
    height: 100px;

    h2 {
      font-size: 1.2rem; }}

  .card-text {
    height: 57px; }

  .session-image {
    width: 100%;
    height: auto;
    display: block; }}

.session-chat {
  display: flex;
  flex-direction: column;
  height: 500px;

  .message-container {
    flex-grow: 2;

    .notification-icon {
      font-size: 1.25rem;
      width: 40px; }

    .message-body {
      flex-grow: 2; }}}

.session-players {
  max-height: 500px; }

