<form id="signup_form" class="homepage-form" method="post" action="{{ path('User:signup') }}" data-pjax>
    <fieldset>
        <legend>Let's get you started!</legend>
        <div class="form-group mt-3">
            <label for="email" class="floating-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" autofocus readonly>
        </div>
        <div class="form-group mt-4">
            <label for="password" class="floating-label">Password</label>
            <input type="password" class="form-control pr-5" id="password" name="password" readonly>
            <div class="input-addon" data-action="show-password">
                <span class="fa fa-fw fa-eye" aria-hidden="true"></span>
                <span class="offscreen">Show password</span>
            </div>
        </div>
        {{ csrf_token() }}

        <p class="mt-2">By clicking on "Sign up" below, you are agreeing to the <a href="#">Terms of Service</a> and the <a href="#">Privacy Policy.</a></p>
        <p class="mb-0 mt-2">Already have an account? Sign in <a href="{{ path('Home:index') }}">here!</a></p>
    </fieldset>
    <button type="submit" class="btn btn-primary btn-lg mt-3">Sign up</button>
</form>