@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web|Orbitron";

$primary: #FCFCFC;
$secondary: #363A43;
$dark: #26262E;
$red: #D9230F;

@import "modules/main";
@import "modules/navbar";
@import "modules/form";
@import "modules/profile";
@import "modules/session";
@import "modules/helpers";