@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web|Orbitron";
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #363A43;
  color: #FCFCFC; }
  body a, body a:hover {
    font-weight: bold;
    color: #D9230F;
    text-decoration: none; }

.main-content {
  padding-top: 80px;
  width: 100%;
  min-height: calc(100vh - 120px);
  overflow-x: hidden; }
  .main-content .nav-tabs {
    border-color: #26262E; }
    .main-content .nav-tabs .nav-item {
      color: #FCFCFC; }
      .main-content .nav-tabs .nav-item .active {
        color: #FCFCFC;
        border-color: #26262E;
        background-color: #26262E; }
      .main-content .nav-tabs .nav-item .nav-link:hover {
        border-color: #26262E; }
  .main-content .section-heading {
    background-color: #26262E;
    padding: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1.25rem;
    margin-bottom: 20px; }
  .main-content .brand-name {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: bold; }
  .main-content .homepage-bg {
    background-image: linear-gradient(to right, rgba(253, 205, 120, 0.4), rgba(229, 172, 127, 0.7)), url("../images/bg.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-content .homepage-box {
    background-color: rgba(38, 50, 56, 0.75);
    padding: 40px 40px 60px 40px;
    border-radius: 2px;
    margin-bottom: 80px; }
    .main-content .homepage-box .box-heading {
      background-color: #FCFCFC;
      color: #363A43;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif;
      text-transform: uppercase;
      margin: -40px;
      margin-bottom: 40px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 40px; }

.page-footer {
  margin-top: 40px;
  height: 80px; }
  .page-footer p {
    margin-top: 20px; }

.navbar {
  text-transform: uppercase;
  background-color: #26262E;
  border: none; }
  .navbar .active span {
    color: #D9230F; }
  .navbar .nav-link span {
    margin-right: 5px; }
  .navbar .navbar-brand {
    font-weight: bold;
    letter-spacing: .2em;
    font-family: 'Orbitron', sans-serif; }

.form-group {
  position: relative; }
  .form-group .form-control {
    background-color: transparent;
    border: 1.5px solid transparent;
    border-radius: 2px;
    border-bottom: 1.5px solid #D9230F;
    transition: all .3s ease;
    color: #FCFCFC; }
    .form-group .form-control:focus {
      border: 1.5px solid #D9230F; }
  .form-group .form-control.is-invalid {
    border-bottom: 1.5px solid #D9831F; }
    .form-group .form-control.is-invalid:focus {
      border: 1.5px solid #D9831F; }
  .form-group .form-control.is-valid {
    border-bottom: 1.5px solid #469408; }
    .form-group .form-control.is-valid:focus {
      border: 1.5px solid #469408; }
  .form-group .floating-label {
    position: absolute;
    top: 8px;
    left: 15px;
    transition: all .3s ease;
    cursor: text; }
  .form-group .file-label {
    width: 100%;
    height: calc(1.96875rem + 2px);
    border-bottom: 1.5px solid #D9230F;
    margin: 0;
    padding: 0.375rem 0.75rem;
    overflow: hidden;
    transition: all .3s ease;
    position: absolute; }
  .form-group .file-label.is-invalid {
    border-bottom: 1.5px solid #D9831F; }
  .form-group .file-label.is-valid {
    border-bottom: 1.5px solid #469408; }
  .form-group .custom-file-input {
    cursor: pointer; }
  .form-group .float {
    top: -19px;
    left: 2px;
    font-size: 12px; }
  .form-group div.is-invalid {
    color: #D9831F;
    width: 100%;
    font-size: 80%;
    margin-top: 0.25rem; }
  .form-group .input-addon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    background-color: transparent;
    color: #FCFCFC;
    border: none; }
    .form-group .input-addon:hover {
      cursor: pointer; }

.btn-primary:hover {
  font-weight: normal; }

.cke {
  background-color: #363A43 !important;
  border: 1.5px solid #363A43 !important;
  border-bottom: 1.5px solid #D9230F !important;
  border-radius: 2px !important;
  transition: all .3s ease !important; }
  .cke .cke_inner {
    background-color: #363A43 !important; }
  .cke .cke_top {
    background-image: none !important;
    box-shadow: none !important;
    background: #363A43 !important;
    color: #D9230F !important;
    border: 0 !important; }
  .cke .cke_wysiwyg_frame {
    background-color: #363A43 !important;
    color: #FCFCFC !important;
    border: 0 !important; }
  .cke .cke_bottom {
    display: none !important; }

.cke_chrome {
  box-shadow: none !important; }

.cke_focus {
  border: 1.5px solid #D9230F !important;
  box-shadow: 0 0 0 0.2rem rgba(217, 35, 15, 0.25) !important; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.profile-info {
  font-size: 1.5rem; }
  .profile-info .profile-label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    color: #26262E; }

.card-session {
  background-color: #26262E; }
  .card-session .card-header {
    border: none;
    height: 100px; }
    .card-session .card-header h2 {
      font-size: 1.2rem; }
  .card-session .card-text {
    height: 57px; }
  .card-session .session-image {
    width: 100%;
    height: auto;
    display: block; }

.session-chat {
  height: 500px; }

.session-players {
  height: 500px; }

.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/*# sourceMappingURL=app.css.map */
