{% extends 'layout/empty.html.twig' %}

{% block title %}Role-playing profile setup{% endblock %}

{% block content %}
<h1>Welcome in DigitalTavern traveler!<small>Let's setup your role-playing profile!</small></h1>
{% endblock %}