{% extends 'layout/empty.html.twig' %}

{% block title %}Profile setup{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Welcome in <span class="brand-name">{{ _appname }}</span> traveler!<br><small>Let's setup your role-playing profile.</small></h1>
    </div>
{% endblock %}