{% set base = (is_pjax(_request)) ? 'base_pjax.html.twig' : 'base.html.twig' %}

{% extends base %}

{% block layout %}
    <main class="main-content" role="main">
        {% block content %}{% endblock %}
    </main>
{% endblock %}